benchmarks/caliper/node_modules
benchmarks/saarlandbm/node_modules
benchmarks/saarlandbm/src/hfc-key-store
benchmarks/saarlandbm/src/**/channel-artifacts/channel*
benchmarks/saarlandbm/src/**/channel-artifacts/msp
benchmarks/saarlandbm/src/**/configtx.yaml


