benchmarks/caliper/node_modules
benchmarks/saarland-benchmark/node_modules
benchmarks/saarland-benchmark/src/hfc-key-store
benchmarks/saarland-benchmark/src/**/channel-artifacts/channel*
benchmarks/saarland-benchmark/src/**/channel-artifacts/msp
benchmarks/saarland-benchmark/src/**/configtx.yaml


